<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Профиль пользователя</title>
    <style>
        body {
          font-family: Arial, sans-serif;
          background-color: #f0f0f0;
          padding: 20px;
        }

        h1 {
          color: #333;
          margin-bottom: 26px;
        }

        .profile-card {
          max-width: 500px;
          margin: 0 auto;
          background-color: #fff;
          border-radius: 10px;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
          padding: 20px;
        }

        .field {
          margin-bottom: 20px;
        }

        label {
          font-weight: bold;
        }

        input[type="text"],
        textarea {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }

        .button-container {
          margin-bottom: 26px;
          text-align: center;
        }

        .button {
          padding: 10px 20px;
          background-color: #4CAF50;
          color: #fff;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-size: 16px;
        }

        .button:hover {
          background-color: #45a049;
        }
    </style>
</head>
<body>
<h1 style="text-align: center;">Профиль пользователя</h1>
<div class="profile-card">
    <h1 th:text="'ID: ' + ${user.id}"></h1>
    <h1 th:text="'Имя: ' + ${user.name}"></h1>
    <h1 th:text="'Логин: ' + ${user.login}"></h1>
    <h1 th:text="'Возраст: ' + ${user.age}"></h1>

    <div class="button-container">
        <a href="javascript:redirect('/writings');" class="button">Посмотреть записи</a>
    </div>
    <div th:if="${user.role == 'root'}">
        <div class="button-container">
            <a href="javascript:redirect('/users');" class="button">Посмотреть пользователей</a>
        </div>
    </div>
    <div class="button-container">
        <a href="http://localhost:8080/login" class="button">Выйти</a>
    </div>
</div>
<script>
    function redirect(head) {
      var url = window.location.search.substring(1);
      var urlParams = new URLSearchParams(url);
      window.location.href = head + '?token=' + urlParams.get('token');
    }
</script>
</body>
</html>