<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="javascript:redirect('/profile');" class="button">В профиль</a>

<li th:each="user : ${users}">
    <p th:text="'ID: ' + ${user.id}"></p>
    <p th:text="'Имя: ' + ${user.name}"></p>
    <p th:text="'Логин: ' + ${user.login}"></p>
    <p th:text="'Возраст: ' + ${user.age}"></p>
</li>
<script>
    function redirect(head) {
      var url = window.location.search.substring(1);
      var urlParams = new URLSearchParams(url);
      window.location.href = head + '?token=' + urlParams.get('token');
    }
    function getToken() {
      var url = window.location.search.substring(1);
      var urlParams = new URLSearchParams(url);
      return urlParams.get('token');
    }
</script>
</body>
</html>