<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Управление заметками</title>
    <style>
        /* Добавляем немного стилей для внешнего вида */
        body {
          font-family: Arial, sans-serif;
          margin: 20px;
        }

        h1 {
          text-align: center;
        }

        form {
          margin-bottom: 20px;
        }

        button {
          margin-top: 5px;
        }

        .note {
          border: 1px solid #ccc;
          border-radius: 5px;
          padding: 10px;
          margin-bottom: 10px;
        }

        .note .actions {
          text-align: right;
          margin-top: 5px;
        }
            .list-item {
      display: flex;
      align-items: center;
    }

    .list-item-form {
      flex-grow: 1;
      margin-right: 10px;
    }

    .list-item-buttons {
      display: flex;
      gap: 5px;
    }

    .list-item-buttons button {
      padding: 5px 10px;
    }
    </style>
</head>
<body>
<a href="javascript:redirect('/profile');" class="button">В профиль</a>

<h1>Управление заметками</h1>
<form action="#" th:action="@{/writings}" th:object="${newWriting}" method="post">
    <input type="hidden" id="token" name="token"/>
    <label for="title">Заголовок:</label><br>
    <input type="text" id="title" name="title" required><br>

    <label for="description">Описание:</label><br>
    <textarea id="description" name="description" required></textarea><br>

    <button type="submit">Добавить</button>
</form>
<h2>Изменить</h2>
<div class="list-item-form">

    <form id="myForm" action="/writing/update" method="put">
        <input type="hidden" id="token1" name="token"/>
        <input type="number" id="id" name="id" placeholder="ID"/>
        <input type="text" name="title" placeholder="Новый титул">
        <input type="text" name="description" placeholder="новое содержание">
        <button type="submit">Изменить</button>
    </form>
</div>
<div class="list-item-form">

    <h2>Удалить</h2>
    <form action="/writing/delete" method="delete">
        <input type="hidden" id="token2" name="token"/>
        <input type="number" name="id" placeholder="ID"/>
        <button type="submit">Удалить</button>
    </form>
</div>

<h2>Ваши заметки</h2>
<li th:each="writing : ${writings}">
    <p th:text="'ID: ' + ${writing.id}"></p>
    <p th:text="'Титул: ' + ${writing.title}"></p>
    <p th:text="'Содержание: ' + ${writing.description}"></p>
    <div class="list-item">
        <div class="list-item-form">
            <!--            <button type="button" onclick="submitForm('DELETE')">Удалить</button>-->
        </div>
    </div>
</li>

<script>
    window.onload = function() {
      var hiddenInput = document.getElementById('token'); // Находим элемент input hidden по его id
      hiddenInput.value = getToken(); // Присваиваем значение метода атрибуту value элемента input hidden
      var hiddenInput = document.getElementById('token1'); // Находим элемент input hidden по его id
      hiddenInput.value = getToken(); // Присваиваем значение метода атрибуту value элемента input hidden
      var hiddenInput = document.getElementById('token2'); // Находим элемент input hidden по его id
      hiddenInput.value = getToken(); // Присваиваем значение метода атрибуту value элемента input hidden
    }

    function submitForm(method) {
      document.getElementById('method').value = method;
      document.getElementById('myForm').submit();
    }
    function redirect(head) {
    var url = window.location.search.substring(1);
    var urlParams = new URLSearchParams(url);
    window.location.href = head + '?token=' + urlParams.get('token');
    }
    function getToken() {
    var url = window.location.search.substring(1);
    var urlParams = new URLSearchParams(url);
    return urlParams.get('token');
    }
</script>
</body>
</html>
